<nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" alt="Logo" width="75" height="75">
        </a>
        <h1 class="ml-2">Su voto CR</h1>
    </div>
    <div class="form-inline my-2 my-lg-0 mx-3">
        <div class="row">
            @if (User.IsInRole("Administrador")) 
            {
                <ul class="nav-links">
                    <li>
                        <a asp-controller="Candidatos" asp-action="Index">
                            Candidatos
                        </a>
                    </li>
                </ul>
            }
        </div>
        <div class="row">
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
