@{

}

<div class="container-fluid">
    <!--inicio container-->
    <div class="row mt-4 justify-content-center">

        <div class="col-lg-3 col-sm-12">
            <img class=" img-fluid logo" src="~/images/logo.png" alt="Logo">
        </div>
        <div class="col-lg-9 col-sm-12" style="max-width: 502px;">
            <h1 class="display-4 text-center bg-info mt-4 text-white">Sistema de votación</h1>
            <p class="text-center">Trabajamos en conjunto con el TSE</p>
            <h2 class="text-center">Cantidad de votos históricos</h2>
            <h3 class="text-center" id="votos-totales">0</h3>
            <div class="form-row text-center">
                <div class="col-12">
                    <button class="btn btn-primary">
                        <a class="text-white" asp-area="Identity" asp-page="/Account/Login">Ir a votación</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/votacion.js"></script>
<script>
    cantidadVotos();
</script>
